/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Global CSS */

:root {
  /* --main-color: #7857fe; */
  --main-color: #2196f3;
  /* --color-1: #e91e63; */
  --color-1: #ff5252;
  --color-2: #f5ae10;
  --color-3: #09d69c;
  --bg-dark: #2b2c2f;
  --main-to-dark-color: var(--main-color);
  --dark-to-main-color: var(--bg-dark);
  --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
  --black-900: #000000;
  --black-400: #555555;
  --black-100: #f7f7f7;
  --black-000: #ffffff;
  --black-alpha-100: rgba(255, 255, 255, 0.5);
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
  line-height: 1.5;
  background-color: var(--bg-dark);
  --black-100: var(--bg-dark);
  --black-000: var(--bg-dark);
  --main-to-dark-color: var(--bg-dark);
  --dark-to-main-color: var(--main-color);
  --shadow-black-100: 0 0 1em var(--shadow-black-300);
  --black-alpha-100: rgba(255, 255, 255, 0.05);
  --black-900: #ffffff;
  --black-400: #bbbbbb;
}

* {
  margin: 0;
  padding: 0;
  outline: none !important;
}
img {
  max-width: 330px;
  vertical-align: middle;
}
ul {
  list-style: none;
}

.btn-1 {
  background-color: #ffffff;
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  color: var(--main-color);
  font-size: 16px;
  text-transform: capitalize;
  transition: all 0.5s ease;
  box-shadow: var(--shadow-black-300);
  font-weight: 500;
}

.btn-1:focus {
  box-shadow: var(--shadow-black-300);
}
.btn-1:hover {
  color: var(--black-000);
  background-color: var(--main-color);
}
@keyframes spin_01 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes bounceTop_01 {
  0%,
  100% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0px);
  }
}
@keyframes pulse_01 {
  0% {
    transform: scale(0.94);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 12px rgba(255, 255, 255, 0);
  }
  100% {
    transform: scale(0.94);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.effect-wrap .effect {
  position: absolute;
  z-index: -1;
}
.effect-wrap .effect-1 {
  left: 20%;
  top: 20%;
  font-size: 20px;
  color: var(--color-2);
  animation: spin_01 5s linear infinite;
}
.effect-wrap .effect-2 {
  right: 5%;
  top: 10%;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.5);
  animation: spin_01 7s linear infinite;
}
.effect-wrap .effect-3 {
  left: 5%;
  bottom: 30%;
  font-size: 25px;
  color: var(--color-3);
  animation: bounceTop_01 3s linear infinite;
}

.section-padding {
  padding: 80px 0;
}

.section-title {
  margin-bottom: 30px;
}
.section-title h2 {
  font-size: 40px;
  color: var(--black-900);
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
}
.section-title h2 span {
  color: var(--main-color);
}

/* Navbar */
.navbar {
  background-color: transparent;
  padding: 20px 0;
  transition: all 0.5s ease;
}
.navbar.navbar-shrink {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--main-color);
  padding: 10px 0;
  height: 60px;
}
.navbar > .container {
  padding: 0, 15px;
}
.navbar .navbar-brand {
  font-size: 30px;
  color: #ffffff;
  font-weight: 500;
  text-transform: capitalize;
}
.navbar .nav-item {
  margin-left: 40px;
}
.navbar .nav-item .nav-link {
  color: #ffffff;
  /* text-transform: capitalize; */
  font-size: 16px;
  font-weight: 400;
  padding: 5px 0;
  position: relative;
}
.navbar .nav-item .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  background-color: #ffffff;
  transition: all 0.5s ease;
  transform: scale(0);
}

.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before {
  transform: scale(1);
}

/* home section */

.home {
  min-height: 100vh;
  padding: 150px 0;
  background-color: var(--main-to-dark-color);
  position: relative;
  z-index: 1;
}

.home-text h1 {
  font-size: 45px;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 20px;
}

.home-text p {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  margin: 0;
  font-weight: 300;
}
.home .home-btn {
  margin-top: 40px;
}

.home .home-btn .video-play-btn {
  margin-left: 30px;
  height: 50px;
  width: 50px;
  padding: 0;
  font-size: 16px;
  animation: pulse_01 2s ease infinite;
}

.home .home-btn .video-play-btn:hover {
  animation: none;
  box-shadow: var(--shadow-black-300);
}

.home-img img {
  max-width: 360px;
  /* width: 100%; */
  box-shadow: var(--shadow-black-100);
  border-radius: 32px;
  animation: bounceTop_01 3s ease infinite;
}
.home-img {
  position: relative;
}
.home-img .circle {
  position: absolute;
  z-index: 1;
  height: 400px;
  width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-img .circle::before {
  content: "";
  position: absolute;
  height: 60px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  left: 30px;
  top: 30px;
  transform-origin: 170px 170px;
  animation: spin_01 10s linear infinite;
}

/* video popup  */

.video-popup {
  padding: 30px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1999;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transform: all 0.5s ease;
}

.video-popup.open {
  opacity: 1;
  visibility: visible;
}

.video-popup-inner {
  width: 100%;
  max-width: 900px;
  position: relative;
}

.video-popup .video-popup-close {
  position: absolute;
  right: 0;
  top: -30px;
  height: 30px;
  width: 30px;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  color: #ffffff;
}

.video-popup .iframe-box {
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}
.video-popup #player-1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Features section */

.features .feature-item {
  box-shadow: var(--shadow-black-300);
  margin: 15px;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  /* Adicionados por minha conta */
  /* float: left; */
  /* width: 28%; */
  height: 330px;
}

.features .feature-item::before,
.features .feature-item::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  transition: all 0.5s ease;
  opacity: 0;
}

.features .feature-item::before {
  height: 20px;
  width: 20px;
  background-color: var(--color-1);
  left: -20px;
  top: 40px;
}

.features .feature-item:hover::before {
  left: 10px;
  opacity: 1;
}

.features .feature-item::after {
  height: 30px;
  width: 30px;
  background-color: var(--color-2);
  right: -30px;
  top: 80%;
}

.features .feature-item:hover::after {
  opacity: 1;
  right: -15px;
}

.features .feature-item .icon {
  height: 60px;
  width: 60px;
  margin: 0 auto 30px;
  text-align: center;
  /* background-color: red; */
  font-size: 30px;
  color: var(--main-color);
  position: relative;
  z-index: 1;
  transition: all 0.5s ease;
}

.features .feature-item .icon::before {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transition: all 0.5s ease;
  z-index: -1;
  opacity: 0;
}

.features .feature-item:hover .icon {
  color: #ffffff;
  font-size: 20px;
  font-size: 30px;
}
.features .feature-item:hover .icon::before {
  left: 0;
  border-radius: 50%;
  opacity: 1;
}

.features .feature-item .icon svg {
  line-height: 60px;
}
.features .feature-item h3 {
  font-size: 22px;
  margin: 0 0 20px;
  color: var(--black-900);
  font-weight: 500;
  /* text-transform: capitalize; */
}
.features .feature-item p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  color: var(--black-400);
  margin: 0 0 15px;
}

/* Fun facts section */

.fun-facts {
  background-color: var(--black-100);
}

.fun-facts .section-title {
  margin-bottom: left;
}

.fun-facts .section-title h2 {
  text-align: left;
}

.fun-facts-img img {
  max-width: 250px;
  width: 100%;
  box-shadow: var(--shadow-black-100);
  border-radius: 32px;
  animation: bounceTop_01 3s ease infinite;
}

.fun-facts p {
  font-size: 16px;
  line-height: 26px;
  color: var(--black-400);
  margin: 0 0 15px;
  font-weight: 300;
}
.fun-facts-item {
  padding: 40px 30px;
  text-align: center;
  box-shadow: var(--shadow-black-100);
  border-radius: 10px;
  margin-top: 30px;
}

.fun-facts-item h3 {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 5px;
}
.fun-facts-item span {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
  line-height: 26px;
  display: block;
  color: #ffffff;
}

.fun-facts-item.style-1 {
  background-color: var(--color-1);
}
.fun-facts-item.style-2 {
  background-color: var(--color-2);
}
.fun-facts-item.style-3 {
  background-color: var(--color-3);
}
.fun-facts-item.style-4 {
  background-color: var(--main-color);
}

/* App Screenshots section */

.screenshots .section-title h2 {
  text-align: center;
}

.screenshot-item {
  margin: 15px;
}

.screenshot-item img {
  /* width: 100%; */
  max-width: 350px;
  display: block;
  margin: auto;
  padding: 5px;
}

/* App Screenshots section */

.how-it-works-item {
  padding: 30px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.how-it-works-item.line-right::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  left: 50%;
  top: 60px;
  background-color: var(--main-color);
  z-index: -1;
}

.how-it-works-item .step {
  display: inline-block;
  height: 60px;
  width: 60px;
  background-color: var(--main-color);
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  color: #ffffff;
  font-weight: 500;
  margin: 0 0 15px;
}

.how-it-works-item h3 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: 500;
  color: var(--black-900);
  /* text-transform: capitalize; */
}
.how-it-works-item p {
  font-size: 16px;
  color: var(--black-400);
  /* font-weight: ; */
}

/* Faq section */

.faq .card {
  border: unset !important;
  border-radius: unset;
}

.faq .card:not(:last-child) {
  margin-bottom: 20px;
}

/* .faq .card .active {
  background-color: var(--main-color);
} */
.faq .card .active .card-header {
  color: #ffffff;
  background-color: var(--main-color);
}

.card {
  box-shadow: var(--shadow-black-300);
}
.faq .card-header {
  padding: 0;
}

.faq .card-header .card-header {
  /* box-shadow: 10px 15px 15px var(--shadow-black-100); */
  box-shadow: 10px 15px 15px #ffffff;
  padding: 20px 30px;
  color: var(--black-400);
  background-color: var(--black-100);
  border-radius: unset;
}

.faq .card-body {
  padding: 30px;
  font-weight: 300;
  font-size: 16px;
  color: var(--black-400);
  line-height: 26px;
  margin: 0;
  background-color: var(--black-100);
  /* border: 1px solid white !important; */
}

.faq .icon-plus,
.faq .icon-minus {
  position: absolute;
  right: 10px;
  top: 25px;
}
/* Footer */

.footer {
  background-color: var(--main-color);
  padding: 10px 0 0;
}
.footer .social a {
  color: #000000;
}
.footer .social {
  text-align: right;
  font-size: 25px;
}
.footer-col h3 {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  margin: 0 0 25px;
  text-transform: capitalize;
}
.footer-col p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  line-height: 26px;
  margin: 0;
}

.footer-col ul {
  margin: 0;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  display: block;
  text-transform: capitalize;
  transition: all 0.5s ease;
  text-decoration: none;
}
.footer-col ul li a:hover {
  padding-left: 5px;
}

.footer .copyright-text {
  padding: 10px 0;
  text-align: center;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  margin: 10px 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/* exam builder */
.exam-builder p,
.exam-builder .numero,
.exam-builder .letra,
.exam-builder .q,
.exam-builder label,
.exam-builder h5 {
  color: #ffffff;
  font-weight: 300;
}

.exam-builder .q {
  margin-right: 10px;
}

.exam-builder-form {
  box-shadow: var(--shadow-black-300);
  padding: 40px;
}

.exam-builder .separator {
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 20px;
}

.exam-builder .pergunta {
  display: flex;
  justify-content: space-between;
}

.exam-builder .numero {
  font-size: 1.6em;
  margin-top: 65px;
}

.exam-builder .letra {
  font-size: 1em;
  margin-top: 20px;
  display: flex;
}

.exam-builder .resposta {
  display: flex;
  justify-content: center;
}

.exam-builder .btn-add-resposta {
  z-index: 999;
  color: #ffffff;
    position: absolute;
    top: -17px;
    right: 50px;
    cursor: pointer;
}

.exam-builder .map-questions .q {
  width: 90%;
  flex-wrap: wrap;
  display: flex;
}
.exam-builder .map-questions {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--bg-dark);
  padding: 10px;
  box-shadow: var(--shadow-black-300);
  display: "flex";
  align-items: center;
}

.form-control {
  background-color: var(--black-100);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #f7f7f7;
}
.form-control:focus {
  background-color: var(--black-100);
  color: #f7f7f7;
  box-shadow: var(--shadow-black-300);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-right: 10px;
  padding-left: 10px;
}

/* Responsive */

@media (max-width: 991px) {
  .navbar-toggler {
    background-color: var(--dark-to-main-color);
    box-shadow: var(--shadow-black-300);
    height: 34px;
    width: 44px;
    padding: 0;
    font-size: 17px;
    color: #ffffff;
  }
  .navbar-nav {
    background-color: var(--dark-to-main-color);
    box-shadow: var(--shadow-black-300);
  }
  .navbar .nav-item {
    margin: 0;
    padding: 5px 15px;
  }
  .navbar.navbar-shrink .navbar-toggler,
  .navbar.navbar-shrink .navbar-nav {
    background-color: var(--main-color);
  }

  .home-img .circle {
    height: 320px;
    width: 320px;
  }
  .home-img .circle::before {
    left: 18px;
    top: 18px;
    transform-origin: 142px 142px;
  }
  .home-text h1 {
    font-size: 40px;
  }
  .how-it-works-item.line-right::before {
    content: none;
  }
  .how-it-works-item {
    box-shadow: var(--shadow-black-100);
    border-radius: 10px;
    margin-bottom: 30px;
  }
  .footer-col {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .home-text {
    margin-bottom: 80px;
  }
  .fun-facts-img {
    margin-bottom: 30px;
  }
  .section-title h2 {
    font-size: 35px;
  }
  .fun-facts .section-title h2 {
    text-align: center;
  }
}

@media (max-width: 575px) {
  .home-text h1 {
    font-size: 30px;
  }
  .home-text p {
    font-size: 16px;
  }
  .section-title h2 {
    font-size: 30px;
  }
}
@media (max-width: 575px) {
  .navbar-toggler {
    margin-right: 20px;
  }
  .navbar-brand {
    margin-left: 10px;
  }
}
