$main: #272d3b;
$color-dark: #1d2231;
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #e59400;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #ffffff;
$gray-light: #ccc;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f1f5f9;
$dark: #343a40;

@function background-opacity($color, $opacity: 0.3) {
  @return rgba($color, $opacity);
}

.bg-color-main {
  background-color: $main;
}
.bg-color-dark {
  background-color: $color-dark !important;
}
.bg-color-blue {
  background-color: $blue !important;
}
.bg-color-indigo {
  background-color: $indigo !important;
}
.bg-color-purple {
  background-color: $purple !important;
}
.bg-color-pink {
  background-color: $pink !important;
}
.bg-color-red {
  background-color: $red !important;
}
.bg-color-orange {
  background-color: $orange !important;
}
.bg-color-yellow {
  background-color: $yellow !important;
}
.bg-color-green {
  background-color: $green !important;
}
.bg-color-teal {
  background-color: $teal !important;
}
.bg-color-cyan {
  background-color: $cyan !important;
}
.bg-color-white {
  background-color: $white !important;
}
.bg-color-gray-light {
  background-color: $gray-light !important;
}
.bg-color-gray {
  background-color: $gray !important;
}
.bg-color-gray-dark {
  background-color: $gray-dark !important;
}
.bg-color-primary {
  background-color: $primary !important;
}
.bg-color-secondary {
  background-color: $secondary !important;
}
.bg-color-success {
  background-color: $success !important;
}
.bg-color-info {
  background-color: $info !important;
}
.bg-color-warning {
  background-color: $warning !important;
}
.bg-color-danger {
  background-color: $danger !important;
}
.bg-color-light {
  background-color: $light !important;
}
.bg-color-dark {
  background-color: $dark !important;
}

// **** Color

.color-main {
  color: $main !important;
}
.color-dark {
  color: $color-dark !important;
}
.color-blue {
  color: $blue !important;
}
.color-indigo {
  color: $indigo !important;
}
.color-purple {
  color: $purple !important;
}
.color-pink {
  color: $pink !important;
}
.color-red {
  color: $red !important;
}
.color-orange {
  color: $orange !important;
}
.color-yellow {
  color: $yellow !important;
}
.color-green {
  color: $green !important;
}
.color-teal {
  color: $teal !important;
}
.color-cyan {
  color: $cyan !important;
}
.color-white {
  color: $white !important;
}
.color-gray-light {
  color: $gray-light !important;
}
.color-gray {
  color: $gray !important;
}
.color-gray-dark {
  color: $gray-dark !important;
}
.color-primary {
  color: $primary !important;
}
.color-secondary {
  color: $secondary !important;
}
.color-success {
  color: $success !important;
}
.color-info {
  color: $info !important;
}
.color-warning {
  color: $warning !important;
}
.color-danger {
  color: $danger !important;
}
.color-light {
  color: $light !important;
}
.color-dark {
  color: $dark !important;
}
